# Simple workflow for deploying static content to GitHub Pages
name: Build and deploy AsciiDoc to GH Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup JDK 21
        uses: actions/setup-java@main
        with:
          java-version: 21
          distribution: 'corretto'
          cache: maven

      - name: Set up Node.js
        uses: actions/setup-node@main
        with:
          node-version: '20'  # Puoi scegliere la versione di Node.js desiderata

      - name: Install Mermaid CLI
        run: npm install -g @mermaid-js/mermaid-cli

      - name: Verify Mermaid CLI installation
        run: mmdc --version

      - name: Build playground
        run: cd fj-doc-playground-quarkus;mvn clean asciidoctor:process-asciidoc@asciidoc-to-html

      - name: Convert AsciiDoc to HTML5 and PDF
        run: cd fj-doc-guide;mvn clean asciidoctor:process-asciidoc@asciidoc-to-html asciidoctor:process-asciidoc@asciidoc-to-pdf

      - name: Build Legacy Pages
        uses: actions/jekyll-build-pages@main
        with:
          destination: "./fj-doc-guide/target/legacy/"

      - name: Copy legacy site
        run: cp -fr ./fj-doc-guide/target/legacy/ ./fj-doc-guide/target/site/

      - name: Copy new site
        run: cp -fr ./fj-doc-guide/target/generated-html5/ ./fj-doc-guide/target/site/guide/

      - name: Copy pdf buide
        run: cp -fr ./fj-doc-guide/target/generated-pdf/fj-doc-guide-*.pdf ./fj-doc-guide/target/site/guide/fj-doc-guide.pdf

      - name: Copy playground html guide
        run: cp -fr ./fj-doc-playgroud-quarkus/target/adoc-html5/ ./fj-doc-guide/target/site/playground/

      - name: Setup Pages
        uses: actions/configure-pages@main

      - name: Upload artifact
        uses: actions/upload-pages-artifact@main
        with:
          # Upload entire repository
          path: './fj-doc-guide/target/site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main