# CI native modules build and test
#
# v1.0.0
#
# This workflow will use the qurkus project :
# fj-doc-native-quarkus
#
# to test native enabled modules of https://github.com/fugerit-org/fj-doc :
# fj-doc-base
# fj-doc-freemarker
#
# see https://venusdocs.fugerit.org/guide/#doc-handler-module-handlers

name: CI native modules build and test

on:
  push:
    branches:
      - develop
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

# only allow one workflow at time on the give activation
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        distribution: [ 'graalvm' ]
        java: [ '21', '24' ]
        os: [ 'ubuntu-latest', 'ubuntu-24.04-arm', 'windows-latest' ]
    name: Build native image ${{ matrix.os }} ${{ matrix.java }} (${{ matrix.distribution }})

    steps:

      # checkout
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      # setup latest GraalVM LTS
      - uses: actions/setup-java@main
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}

      - name: Cache Maven packages
        uses: actions/cache@main
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      # build all projects modules
      - name: Build project
        run: mvn clean install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # build and test native module (quarkus project, see https://quarkus.io/guides/building-native-image)
      - name: Native build and test
        run: |
          cd fj-doc-native-quarkus
          echo "*** 1. build native executable ***"
          mvn verify package -Dnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true -P test
          echo "*** 2. test native executable ***"
          mvn verify test-compile failsafe:integration-test -Dnative

