# CI with maven build and scan
#
# version 1.1.0
#
# see : https://universe.fugerit.org/src/docs/conventions/workflows/build_maven_package.html

name: CI maven build and scan

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - main
      - develop
      - branch-preview
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

# only allow one workflow at time on the give activation
concurrency:
  group: ${{ github.workflow }}_${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: fugerit-org/psychic-actions/maven-build-scan@stable
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          #snyk-token: ${{ secrets.SNYK_TOKEN }}
          #snyk-image: fj-doc-playground-quarkus
          #snyk-args: --file=fj-doc-playground-quarkus/Dockerfile
          #snyk-dockercontext: fj-doc-playground-quarkus
          #snyk-dockertag: fj-doc-playground-quarkus
          java-version: 21
          java-distribution: 'graalvm'
          maven-additional-profiles: ',buildreact'
          disable-maven-dependency-submission: ${{ vars.DISABLE_MAVEN_DEPENDENCY_SUBMISSION }}
          disable-upload-sarif: ${{ vars.DISABLE_UPLOAD_SARIF }}
